#textdomain aww
### 16. SCOUTS GET XP FOR CAPTURING VILLAGES
# Author: Hermes (fork of Advance Wesnoth Wars)
# Role-XP channel : scout = village capture / recon.
# Awards aww_16_scout_xp XP per village captured.

[event]
    name=capture_village
    id=aww_16_trigger_scout_xp
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_16}
    [/filter_condition]

    [store_unit]
        variable=scout_unit
        [filter]
            {AWW_EVENT_UNIT}
        [/filter]
    [/store_unit]

    {FOREACH scout_unit s}
        {VARIABLE_OP scout_unit[$s].experience add $aww_16_scout_xp}
        [unstore_unit]
            variable=scout_unit[$s]
        [/unstore_unit]
    {NEXT s}

    {CLEAR_VARIABLE scout_unit}
[/event]
