#textdomain aww
### 17. TANKS GET XP FOR ABSORBING HITS
# Author: Hermes (fork of Advance Wesnoth Wars)
# Role-XP channel : tank = absorbs incoming damage.
# Awards aww_17_tank_xp XP per hit taken.
# Handled in two events:
#  - attacker_hits: the defender ($x2/$y2) takes a hit from the enemy's attack.
#  - defender_hits: the attacker ($x1/$y1) takes a counter-attack hit.
# Both award XP to the unit that absorbed the damage.

[event]
    name=attacker_hits
    id=aww_17_trigger_tank_xp_defender
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_17}
    [/filter_condition]

    [store_unit]
        variable=tank_unit
        [filter]
            x=$x2
            y=$y2
        [/filter]
    [/store_unit]

    {FOREACH tank_unit t}
        {VARIABLE_OP tank_unit[$t].experience add $aww_17_tank_xp}
        [unstore_unit]
            variable=tank_unit[$t]
        [/unstore_unit]
    {NEXT t}

    {CLEAR_VARIABLE tank_unit}
[/event]

[event]
    name=defender_hits
    id=aww_17_trigger_tank_xp_attacker
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_17}
    [/filter_condition]

    [store_unit]
        variable=tank_unit
        [filter]
            {AWW_EVENT_UNIT}
        [/filter]
    [/store_unit]

    {FOREACH tank_unit t}
        {VARIABLE_OP tank_unit[$t].experience add $aww_17_tank_xp}
        [unstore_unit]
            variable=tank_unit[$t]
        [/unstore_unit]
    {NEXT t}

    {CLEAR_VARIABLE tank_unit}
[/event]
