#textdomain aww
### 18. LEADERS GET XP FOR SUPPORTING KILLS
# Author: Hermes (fork of Advance Wesnoth Wars)
# Role-XP channel : leader = leadership aura supports allied kills.
# When an enemy dies, any adjacent enemy-of-the-dead unit with the
# leadership ability earns aww_18_leader_xp XP (they buffed the killer's
# damage via their aura). Approximation: an enemy dying inside the leader's
# aura radius is treated as a supported kill.

[event]
    name=die
    id=aww_18_trigger_leader_xp
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_18}
    [/filter_condition]

    [store_unit]
        variable=leader_units
        [filter]
            ability=leadership
            [filter_adjacent]
                x,y=$x1,$y1
                is_enemy=yes
            [/filter_adjacent]
        [/filter]
    [/store_unit]

    {FOREACH leader_units l}
        {VARIABLE_OP leader_units[$l].experience add $aww_18_leader_xp}
        [unstore_unit]
            variable=leader_units[$l]
        [/unstore_unit]
    {NEXT l}

    {CLEAR_VARIABLE leader_units}
[/event]
