#textdomain aww
### 19. BUFFERS/DEBUFFERS GET XP FOR APPLYING STATUS EFFECTS
# Author: Hermes (fork of Advance Wesnoth Wars)
# Role-XP channel : buffer/debuffer applies status effects (slow, poison, etc).
# When a unit lands a hit with a weapon carrying a status special
# (slow, poison, petrifies, plague, stun), the attacker earns
# aww_19_buffer_xp XP.

[event]
    name=attacker_hits
    id=aww_19_trigger_buffer_xp
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_19}
    [/filter_condition]

    [store_unit]
        variable=buffer_unit
        [filter]
            {AWW_EVENT_UNIT}
            [has_attack]
                special=slow,poison,petrifies,plague,stun
            [/has_attack]
        [/filter]
    [/store_unit]

    {FOREACH buffer_unit b}
        {VARIABLE_OP buffer_unit[$b].experience add $aww_19_buffer_xp}
        [unstore_unit]
            variable=buffer_unit[$b]
        [/unstore_unit]
    {NEXT b}

    {CLEAR_VARIABLE buffer_unit}
[/event]
