#textdomain aww
### 20. WARRIORS GET BONUS XP PER POINT OF DAMAGE DEALT
# Author: Hermes (fork of Advance Wesnoth Wars)
# Role-XP channel : warrior = deals damage in combat.
# On top of Wesnoth's native damage XP, a warrior earns an additional
# aww_20_warrior_xp XP for each point of damage they inflict.
# Damage dealt is taken from the attacker_hits event ($damage_inflicted).

[event]
    name=attacker_hits
    id=aww_20_trigger_warrior_xp
    first_time_only=no
    [filter_condition]
        {AWW_ENABLED_FEATURE_20}
    [/filter_condition]

    {VARIABLE aww_warrior_bonus $damage_inflicted}
    {VARIABLE_OP aww_warrior_bonus multiply $aww_20_warrior_xp}

    [store_unit]
        variable=warrior_unit
        [filter]
            {AWW_EVENT_UNIT}
        [/filter]
    [/store_unit]

    {FOREACH warrior_unit w}
        {VARIABLE_OP warrior_unit[$w].experience add $aww_warrior_bonus}
        [unstore_unit]
            variable=warrior_unit[$w]
        [/unstore_unit]
    {NEXT w}

    {CLEAR_VARIABLE warrior_unit,aww_warrior_bonus}
[/event]
